@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Diphylleia', serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245,246,247);
}

/* Header */
header {
    width: 100%;
    height: 99vh;
    color: #c5aa9d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
header .background {
    height: 80vh;
}

header .header-image {
    height: 99vh;
    background-image: url('../images/header-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        width: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 48px;
        font-weight: bold;
    }
}

header .menu {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);

    h1 {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 48px;
        text-shadow: -3px 3px #9e7b68;
        margin-left: 15px;
    }
}

header .logo {
    margin: 10px 0px 0px 15px ;
    display: flex;
}

header .social-media {
    margin: 10px 15px 0px 0px ;
    display: flex;
    justify-content: space-around;

    i {
        margin: 0px 10px;
        font-size: 32px;
        cursor: pointer;
    }
}
  
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

/* Header */

main {
    width: 80vw;
    margin: 2em;
}

main > section {
    width: 100%;
    margin-bottom: 3em;
}

.component {
    box-shadow: -1px 1px 5px rgba(0,0,0,1);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info .content {
    width: 30%; 
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: rgba(158,123,104,1);

    i, span {
        display: block;
        font-size: 32px;
        font-weight: bold;
        margin: 5px 0px;
    }

    .text {
        text-align: center;
        font-size: 20px;
        color: #000000;
    }
}

.text-highlight {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 1em;
    color: rgba(158,123,104,1);
}

#products .tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#products .tabs span {
    font-size: 20px;
    font-style: italic;
    color: rgba(158,123,104,1);
    cursor: pointer;
    padding: 1px 10px 3px 10px;

    &:hover,
    &.active {
        background-color: rgba(158,123,104,1);
        color: rgba(0, 0, 0, 1);
        padding: 1px 10px 3px 10px;
        border-radius: 10px;
        text-align: center;
    }

    &.active {
        color: rgba(255, 255, 255, 1);
    }
}

#products .content {
    display: none;
    width: 100%;
    height: 80vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-duration: 2s;

    &.active {
        display: flex;
        justify-content: space-around;
        transition-duration: 2s;
    }
}

#products .content .product-description {
    height: 100%;
    width: 80%;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}

#products .content .product-photo {
  height: 100%;
  width: 80%;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .photo-container {
      width: 100%;
      height: 100%;
  }

  img {
      display: block;
      position: relative;
      margin: 0 auto;
      margin-top: 0; 
      height: 0;  
      opacity: 0;   
      transition: opacity 1s ease-in-out;
  }

  img.active {
      opacity: 1;
      height: 80%;
      margin-top: 40px; 
      transition: opacity 1s ease-in-out;
  }
}

#products .content .accordion {
    background-color: rgba(197,170,157,255);
    color: #000000;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: none;

    &.active {
        background-color: rgba(158,123,104,255);
        color: rgb(255, 255, 255);
    }

    &:hover {
        background-color: rgba(158,123,104,255);
    }
}

#products .content .accordion-panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 15px;
    transition-duration: 0.5s;

    &.active {
        max-height: 80vh;
        transition-duration: 1s;
    }
}

#testimonies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#testimonies .carousel {
    width: 50%;
    height: 40vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#testimonies .carousel .client {

    p {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;
        min-height: 15vh;
    }

    span {
        display: block;
    }

    span.name {
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
    }

    span.city {
        font-size: 14px;
        font-style: italic;
    }

}

#contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#contact .item {
    padding: 10px;
    min-width: 280px;
    text-align: center;
    font-size: 18px;
    color: rgba(158,123,104,1);
}

footer {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(158,123,104,1);
  font-size: 14px;
  text-align: center;
}

  
/* /* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
      height: 40px;
      min-height: 40px;
  }
}

/* 
    dark
        #9e7b68
        rgba(158,123,104,255)
    medium
        #c5aa9d
        rgba(197,170,157,255)
    light
        #dfd1c8
        rgba(223,209,200,255)

    suggest theme
        #BFADA3 (principal)
        #73594F
        #A68477
        #F2F2F2
        #0D0D0D
*/